___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [72]:
import pandas as pd
import numpy as np

Вивести версію та конфігурацію бібліотеки:

In [73]:
pd.__version__

'1.0.5'

In [74]:
df = pd.read_csv('Ecommerce Purchases.csv')

Скільки рядків і стовпців в наборі даних:

In [75]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [76]:
print('чи є пусте значення:\n', df.isnull().any())

чи є пусте значення:
 Address             False
Lot                 False
AM or PM            False
Browser Info        False
Company             False
Credit Card         False
CC Exp Date         False
CC Security Code    False
CC Provider         False
Email               False
Job                 False
IP Address          False
Language            False
Purchase Price      False
dtype: bool

Яка середня ціна закупки (Purchase Price):

In [77]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [78]:
df[df.Language == 'en'].size

15372

Скільки людей має посаду «Lawyer»?

In [79]:
df[df.Job == 'Lawyer'].size

420

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [80]:
print('після обіду: ', df[df['AM or PM'] == 'PM'].size)
print('зранку: ', df[df['AM or PM'] == 'AM'].size)

після обіду:  70952
зранку:  69048

Які 5 найпоширеніших назв вакансій?

In [81]:
df['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [82]:
print('price = ', df[df['Lot'] == '90 WT']['Purchase Price'].values[0])

price =  75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [83]:
print('email = ', df[df['Credit Card'] == 4926535242672853]['Email'].values[0])

email =  bondellen@williams-garza.com

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [84]:
mask = (df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)
print('American Express and > 100$ = ', df[mask].shape[0])

American Express and > 100$ =  0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [85]:
df['CC Exp Date'].str.endswith('/25').sum()

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [86]:
emails = df['Email'].str.extract('(@.*)')[0]
emails.value_counts().head()

@hotmail.com     1638
@yahoo.com       1616
@gmail.com       1605
@smith.com         42
@williams.com      37
Name: 0, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [87]:
df.pivot_table('Browser Info', 'Job', aggfunc='count')

                                  Browser Info
Job
Academic librarian                          11
Accommodation manager                       17
Accountant, chartered                       20
Accountant, chartered certified             18
Accountant, chartered management            15
...                                        ...
Water quality scientist                     18
Web designer                                20
Wellsite geologist                          24
Writer                                      10
Youth worker                                18

[623 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [88]:
def generate_actual_price(x):
    if x > 100:
        return x * 0.1
    elif x > 50:
        return x * 0.2
    return x

df["Actual price"] = df['Purchase Price'].apply(generate_actual_price)

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [89]:
df['Language rank'] = df['Language'].rank()
df['Actual price rank'] = df['Actual price'].rank()
df.sort_values('Actual price', ascending=False, inplace=True)
df[['Language', 'Language rank', 'Actual price', 'Actual price rank']].head(5)

     Language  Language rank  Actual price  Actual price rank
2148       zh         9471.0         49.99            10000.0
9080       it         6125.5         49.97             9999.0
401        fr         5034.0         49.95             9998.0
2653       es         3938.0         49.93             9997.0
738        el         1724.0         49.92             9995.5

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [90]:
df.drop(columns='Language', inplace=True)
df.set_index('Language rank', drop=True, inplace=True)
df.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price,Actual price,Actual price rank
Language rank,,,,,,,,,,,,,,,
9471.0,225 Matthew Prairie Suite 996\nWest Christyche...,97 IK,PM,Mozilla/5.0 (Windows NT 6.2) AppleWebKit/5331 ...,Nash-Mathews,4861828450230,11/22,344,Voyager,hoffmanbrandi@roberts-zavala.net,Futures trader,244.28.71.159,49.99,49.99,10000.0
6125.5,"61825 Diana Ridge Suite 673\nJohnsonbury, IA 2...",89 QR,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,Lopez LLC,5553768218785808,07/24,304,Maestro,robert78@gmail.com,Training and development officer,82.245.30.190,49.97,49.97,9999.0
5034.0,1627 Jackson Hills Suite 386\nEast Robertoburg...,26 ZA,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows 98;...,Torres-Robinson,6011853334121056,06/24,955,JCB 15 digit,johnturner@hotmail.com,Medical laboratory scientific officer,223.46.228.239,49.95,49.95,9998.0
3938.0,USNS Smith\nFPO AE 77000-5235,13 SQ,PM,Opera/8.51.(X11; Linux i686; en-US) Presto/2.9...,Daniel-Johns,4197230471724714,11/21,683,Voyager,hicksrobert@hotmail.com,Secretary/administrator,178.39.117.28,49.93,49.93,9997.0
1724.0,"684 Hall Rapid\nKlineland, AL 86987",12 Lj,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_3 like M...,Robbins PLC,6011360564096396,09/24,592,JCB 15 digit,xcunningham@turner-hall.net,Control and instrumentation engineer,75.165.69.134,49.92,49.92,9995.5

Кінцевий набір даних збережіть у файл з розширенням csv.

In [91]:
df.to_csv('lab 5_2.csv')