___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd
import numpy as np

Вивести версію та конфігурацію бібліотеки:

In [62]:
pd.__version__

'1.0.5'

In [3]:
df = pd.read_csv('Ecommerce Purchases.csv')

Скільки рядків і стовпців в наборі даних:

In [4]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [5]:
print('чи є пусте значення:\n', df.isnull().any())

чи є пусте значення:
 Address             False
Lot                 False
AM or PM            False
Browser Info        False
Company             False
Credit Card         False
CC Exp Date         False
CC Security Code    False
CC Provider         False
Email               False
Job                 False
IP Address          False
Language            False
Purchase Price      False
dtype: bool

Яка середня ціна закупки (Purchase Price):

In [6]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [7]:
df[df.Language == 'en'].size

15372

Скільки людей має посаду «Lawyer»?

In [8]:
df[df.Job == 'Lawyer'].size

420

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [9]:
print('після обіду: ', df[df['AM or PM'] == 'PM'].size)
print('зранку: ', df[df['AM or PM'] == 'AM'].size)

після обіду:  70952
зранку:  69048

Які 5 найпоширеніших назв вакансій?

In [10]:
df['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [11]:
print('price = ', df[df['Lot'] == '90 WT']['Purchase Price'].values[0])

price =  75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [12]:
print('email = ', df[df['Credit Card'] == 4926535242672853]['Email'].values[0])

email =  bondellen@williams-garza.com

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [13]:
mask = (df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)
print('American Express and > 100$ = ', df[mask].shape[0])

American Express and > 100$ =  0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [14]:
df['CC Exp Date'].str.endswith('/25').sum()

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [19]:
emails = df['Email'].str.extract('(@.*)')[0]
emails.value_counts().head()

@hotmail.com     1638
@yahoo.com       1616
@gmail.com       1605
@smith.com         42
@williams.com      37
Name: 0, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [45]:
df.pivot_table('Browser Info', 'Job', aggfunc='count')

                                  Browser Info
Job
Academic librarian                          11
Accommodation manager                       17
Accountant, chartered                       20
Accountant, chartered certified             18
Accountant, chartered management            15
...                                        ...
Water quality scientist                     18
Web designer                                20
Wellsite geologist                          24
Writer                                      10
Youth worker                                18

[623 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [58]:
def generate_actual_price(x):
    if x > 100:
        return x * 0.1
    elif x > 50:
        return x * 0.2
    return x

df["Actual price"] = df['Purchase Price'].apply(generate_actual_price)

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

Кінцевий набір даних збережіть у файл з розширенням csv.